.audio-controls {
    display: flex;
    justify-content: space-between;
    width:  75%;
    margin: 0 auto 15px;
  }

  
  .audio-controls .play svg,
  .audio-controls .stop svg {
    height: 40px;
    width: 40px;
  }
  
  button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
