.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#FF8B60;
    height: 80px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.console {
    display: flex;

}

.buttons {
    display: flex;
    align-self: center;
}

.infos {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

p {
    color: white;
    margin: 6px;
}

.name>p {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 6px;
} 

.image {
    margin-right: 24px;
}

.cover {
    width: 80px;
    height: 80px;
    background-color: beige;
}

.links {
    width: 40px;
    position: absolute;

}